{% extends "base.html" %}
{% block title %}Associates{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
        <h2 class="text-primary me-5">Associates</h2>
        <a href="/associates/add" class="btn btn-primary btn-lg" style="font-size: 1rem;">New</a>
    </div>
    <form method="get" action="" class="d-flex align-items-center">
        {{ form.query }}
        <button class="btn btn-primary btn-lg ms-2" style="font-size: 1rem;" type="submit">Search</button>
    </form>
</div>
<div style="max-height: calc(100vh - 150px); overflow-y: auto; border: 1px solid #ddd; border-radius: 5px;">
    <table class="table table-striped table-hover mb-0">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Membership Number</th>
                <th>Birth date</th>
                <th>Expiration Date</th>
                <th>Actions</th>            
            </tr>
        </thead>
        <tbody>
            {% for associate in associates %}
            <tr>
                <td>{{ associate.first_name }} {{ associate.last_name }}</td>
                <td>{{ associate.email }}</td>
                <td>{{ associate.membership_number }}</td>
                <td>{{ associate.birth_date }}</td>
                <td>{{ associate.expiration_date }}</td>
                <td>
                    <a href="{% url 'edit_associate' associate.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'delete_associate' associate.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}