{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Articles" %}{% endblock %}
{% block content %}
<main class="container">
    <div class="grid" style="align-items: center;">
        <div style="display: flex; align-items: center; gap: 1rem;">
            <h2>{% trans "Articles" %}</h2>
            <a href="/articles/add" role="button">{% trans "New" %}</a>
        </div>
    </div>

    <div
        style="max-height: calc(100vh - 150px); overflow-y: auto; border: 1px solid var(--muted-border-color); border-radius: 5px;">
        <table class="striped">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Type" %}</th>
                    <th>{% trans "Price" %}</th>
                    <th>{% trans "Medical cert. req." %}</th>
                    <th>{% trans "Active" %}</th>
                    <th style="width: 8%;">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.get_category_display }}</td>
                    <td>{{ article.get_type_display }}</td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.certification_required }}</td>
                    <td>{{ article.active }}</td>
                    <td>
                        <details class="dropdown">
                            <summary role="button">⋮</summary>
                            <ul>
                                <li><a href="{% url 'edit_article' article.pk %}">{% trans "Edit" %}</a></li>
                                <li><a href="{% url 'delete_article' article.pk %}" style="color: red">{% trans "Delete" %}</a></li>
                            </ul>
                        </details>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}