{% extends "base.html" %}
{% load i18n %}
{% block content %}
<main class="container">
    <div class="grid" style="align-items: center;">
        <div style="display: flex; align-items: center; gap: 1rem;">
            <h2>{% trans "Settings" %}</h2>
        </div>
    </div>
    <div
        style="max-height: calc(100vh - 150px); overflow-y: auto; border: 1px solid var(--muted-border-color); border-radius: 5px;">
        <table class="striped">
            <thead>
                <tr>
                    <th>{% trans "Key" %} </th>
                    <th>{% trans "Value" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for option in options %}
                <tr>
                    <form method="post" action="{% url 'edit_settings' option.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <td>
                            <input type="text" name="key" value="{{ option.key }}" readonly>
                        </td>
                        <td>
                            <input type="text" name="value" value="{{ option.value }}">
                        </td>
                        <td style="display:block;">
                            <div class="grid">
                                <!-- <button type="submit">{% trans "Save" %}</button> -->
                                <a href="#" onclick="this.closest('form').submit(); return false;" role="button">{% trans "Save" %}</a>
                                <a href="{% url 'delete_settings' option.id %}" role="button"
                                    onclick="return confirm('{% trans "Are you sure?" %}');" class="contrast">{% trans "Delete" %}</a>
                            </div>
                        </td>
                    </form>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">{% trans "No options set." %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Form to Add New Option -->
    <h2>{% trans "Add New Option" %}</h2>
    <form method="post" action="{% url 'manage_settings' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Add" %}</button>
    </form>
</main>
{% endblock %}