{% extends "base.html" %}
{% load i18n %}
{% load filename %}
{% block title %}{% trans "Subscriptions" %}{% endblock %}
{% block content %}
<main class="container">
    <div class="grid" style="align-items: center;">
        <div style="display: flex; align-items: center; gap: 1rem;">
            <h2>{% trans "Subscriptions" %}</h2>
            <a href="/subscriptions/add" role="button">{% trans "New" %}</a>
        </div>
    </div>

    <div
        style="max-height: calc(100vh - 150px); overflow-y: auto; border: 1px solid var(--muted-border-color); border-radius: 5px;">
        <table class="striped">
            <thead>
                <tr>
                    <th>{% trans "Associate" %}</th>
                    <th>{% trans "Article" %}</th>
                    <th>{% trans "Season" %}</th>
                    <th>{% trans "Medical cert. file" %}</th>
                    <th>{% trans "Medical cert. exp" %}</th>
                    <th style="width: 8%;">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.associate }}</td>
                    <td>{{ subscription.article }}</td>
                    <td>{{ subscription.display_season }}</td>
                    <td> {% if subscription.certification_file %}
                        <a href="{{ subscription.certification_file.url }}" target="_blank">
                            {{ subscription.certification_file.name|basename }}
                        </a>
                        {% else %}
                        <em>{% trans "No file" %}</em>
                        {% endif %}
                    </td>
                    <td>{{ subscription.certification_exp_date }}</td>
                    <td>
                        <details class="dropdown">
                            <summary role="button">⋮</summary>
                            <ul>
                                <li>
                                    <a href="{% url 'edit_subscription' subscription.pk %}">
                                        {% trans "Edit" %}
                                    </a>
                                </li>
                                <li>
                                    <a class="contrast" href="{% url 'delete_subscription' subscription.pk %}" style="color: red">
                                        {% trans "Delete" %}
                                    </a>
                                </li>
                            </ul>
                        </details>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}