{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Transactions" %}{% endblock %}
{% block content %}
<main class="container">
    <div class="grid" style="align-items: center;">
        <div style="display: flex; align-items: center; gap: 1rem;">
            <h2>{% trans "Transactions" %}</h2>
            <a href="/transactions/add" role="button">{% trans "New" %}</a>
        </div>
        <div style="margin-left: 20%; margin-top: 2% ">
            <form method="get" action="" style="display: flex; gap: 0.5rem;">
                <input type="text" name="query" placeholder="{% trans " Name or amount..."%}" aria-label="Search">
                <button type="submit">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
    <div
        style="max-height: calc(100vh - 150px); overflow-y: auto; border: 1px solid var(--muted-border-color); border-radius: 5px;">
        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Associate" %}</th>
                    <th>{% trans "Method" %}</th>
                    <th>{% trans "Amount" %}</th>
                    <th style="width: 8%;">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.associate.first_name }} {{ transaction.associate.last_name }}</td>
                    <td>{{ transaction.method }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>
                        <details class="dropdown">
                            <summary role="button">⋮</summary>
                            <ul>
                                <li><a href="{% url 'edit_transactions' transaction.pk %}">{% trans "Edit" %}</a></li>
                                <li><a href="{% url 'receipt' transaction.pk %}">{% trans "Receipt" %}</a></li>
                                <li><a href="{% url 'send_receipt' transaction.pk %}">{% trans "Send" %}</a></li>
                                <li><a href="{% url 'delete_transactions' transaction.pk %}" style="color: red">{% trans "Delete" %}</a></li>
                            </ul>
                        </details>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<!-- <ul class="list-group">
    {% for transaction in transactions %}
        <li class="list-group-item">
            <a href="{% url 'transaction_detail' transaction.id %}">
                {{ transaction.transaction_type }}: ${{ transaction.amount }}
            </a>
        </li>
    {% endfor %}
</ul> -->
{% endblock %}